doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/style.css')
    title Ciao Mondo
  body
    header.header
      h1 #{title}
    article.container
      each pilota in pil
        div.person
          div.person-image(style=`background: url('${pilota.pathImmagine}') top center no-repeat; background-size: cover;`)

          h2.person-name 
            br
            strong Nome: #{pilota.nome}
            br
            strong Altezza: #{pilota.altezza}
            br
            strong Peso: #{pilota.peso}
            br
            strong Squadra: #{pilota.squadra}
            br

  div.container
    a(href="") 
    a.button.button-buy(href='/') Pagina Iniziale